body {
  box-sizing: border-box;
  // padding: 3rem;
  background-color: $PRIMARY_COLOR;

  @include respond(tab-port) {
    padding: 0;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  &:not(i) {
    font-family: "Poppins", sans-serif;
  }
}
