.addPatient {
  &__body {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    &__box {
      background-color: $SECONDARY_COLOR;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.2);
      width: 800px;
      &__heading {
        color: white;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      &__formContainer {
        display:flex;
        justify-content: center;
        &__form {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          width: 400px;
          @media (max-width: 400px) {
            width: 350px;
          }
          &__label {
            color: $LIGHT_WHITE;
            margin-bottom: .5rem;
            font-size: .9rem;
            padding-left: .2rem;      
          }
          &__input {
            margin-bottom: .5rem;
            outline: none;
            border: none;
            padding: 10px;
            border-radius: 10px;
          }
          &__buttonBox {
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
            &__button {
              border-radius: 10px !important;
              background-color: white !important;
              text-transform: capitalize !important;
              padding: 5px 15px !important;
              color: black !important;
              // width: 100%;
            }
          }
        }
      }
      &__buttons {
        display: flex;
        justify-content: flex-end;
        Button {
          // color: black;
          // background-color: white !important;
          padding: 0;
          margin-top: 1.5rem;
          text-transform: capitalize;
        }
      }
    }
  }
}